* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: black;

}


.wrapper{
    background-image: url("dust_scratches.png");

    /*background-image: url("polka-dotsA.png");*/
    /*background-color: black;*/
    width:55%;
    float:left;
    height:430px;
    margin-left: 22%;
    margin-top: 55px;
}
.leftBlock{
    
   /* background-color: #777777;*/
        color: white;
        width:40%;
   /* background-image:url("assets/images/itemsBackground.jpeg");*/
   float:left;
   height:25px;
   position: static;
   margin-left: 10%;
   height:175px;
}
.rightBlock{
    width:40%;
    background-color: yellow;
    float:left;

   position: static;
}

h1{
    color: black;
    text-align: center;
    background-image: url("polka-dotsA.png");
    /*background-color: #777777;*/
    padding:0;
    height:54px;
}

/* Keep it simple - improvement would be to not display characters */
 .letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
}
.current-word {
    list-style: none;
}
.output {
    opacity: 0;
    transition: opacity 1s ease;
}
.correct {
    background-color: green;
    transition: all 1s ease;
}
.error {
    color: red;
    opacity: 1;
}
.warning {
    color: orange;
    opacity: 1;
}
.win {
    color: green;
    opacity: 1;
}