* {
    box-sizing: border-box;
};
body {
    font-family: sans-serif;
    background-color: black;

}


.wrapper{
    /*background-image: url("carbon_fibre.png");*/

    /*background-image: url("polka-dotsA.png");*/
    background-color: black;
    width:84%;
    float:left;
    height:406px;
    padding-top:60px;
    margin-left: 9%;
    margin-top: 55px;
    border-style: dotted;
    border-color: gold;
    border-width: 4px;

}
.leftBlock{
    box-shadow: 0 0 8px 8px gold inset;
    font-family: 'Ranchers', cursive;
    padding-left: 100px;
    padding-top: 50px;
    
   /* background-color: #777777;*/
        color: white;
        width:40%;
   /* background-image:url("assets/images/itemsBackground.jpeg");*/
   float:left;
   position: static;
   margin-left: 10%;
   height:318px;
}
.rightBlock{
    box-shadow: 0 0 8px 8px white inset;
    width:40%;
    background-color: black;
    float:left;
   position: static;
   height: 318px;
   padding-top: 162px;
   padding-left: 35px;
}

h1{
    font-family: 'Ranchers', cursive;
    font-size: 50px;
    font-stretch: ul;
    color: black;
    text-align: center;
    /*background-image: url("polka-dotsA.png");*/
    /*background-color: gold;*/
    background: -webkit-linear-gradient(left top, red, gold); 
    padding-top:15px;
    height:110px;
    border-style: dotted;
    border-color: black;
    border-width: 4px;
    margin-top:0px;
}
img{
    box-shadow: 0 0 100px 8px blue inset;
    border-radius: 25px;
    width:70px;
    border-style: 
    /*box-shadow: 0 0 16px 8px gold inset;*/
}

/* Keep it simple - improvement would be to not display characters */
 .letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
}
.current-word {
    list-style: none;
}
.output {
    opacity: 0;
    transition: opacity 1s ease;
}
.correct {
    background-color: green;
    transition: all 1s ease;
}
.error {
    color: red;
    opacity: 1;
}
.warning {
    color: orange;
    opacity: 1;
}
.win {
    color: green;
    opacity: 1;
}
.current-word{
    font-family: 'Ranchers', cursive;
    color:white;
}
form{
    background-color: black;
    height: 65px;
}
#man{
    font-family: 'Ranchers', cursive;
    color: white;
}
#hangman{
    background-color: black;
    width:75%;
}